<div style="display: flex; width: 100%;">
    <div style="width: 100%">
        <form [formGroup]="softwareEngineerCvForm" style="width:100%">
            <h3> Enter Personal Details</h3>
            <mat-grid-list cols="1" rowHeight="62px" style="width: 100%">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" appearance="fill">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" appearance="fill">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Phone</mat-label>
                        <input matInput formControlName="phone" appearance="fill">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Summary</mat-label>
                        <textarea matInput formControlName="summary" appearance="fill"></textarea>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>




            <div >
                <h3 *ngIf="getControls('skills').length" style="padding-top: 10px;"> Skills</h3>

                <div formArrayName="skills" *ngFor="let skill of getControls('skills'); let i = index">
                    <form [formGroup]="skill">
                        <mat-grid-list cols="2" rowHeight="62px" style="width: 100%">
                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Skill</mat-label>
                                    <input matInput formControlName="skill">
                                </mat-form-field>

                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Level</mat-label>
                                    <input matInput formControlName="level">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </form>
                    <mat-divider style="padding-top:10px ;"></mat-divider>

                </div>
                <button mat-button mat-raised-button color="" style="margin-bottom: 10px;" (click)="addSkill()">Add
                    Skill</button>
            </div>
            <div >
                <h3 *ngIf="getControls('experience').length" style="padding-top: 10px;"> Experience</h3>

                <div formArrayName="experience" *ngFor="let exp of getControls('experience'); let i = index">
                    <form [formGroup]="exp">
                        <mat-grid-list cols="3" rowHeight="62px" style="width: 100%;padding-bottom: 10px;">
                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Organization</mat-label>
                                    <input matInput formControlName="Organization">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>No Of Years</mat-label>
                                    <input matInput formControlName="NoOfYears">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Role</mat-label>
                                    <input matInput formControlName="Role">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <mat-grid-list cols="1" rowHeight="62px" style="width: 100%;padding-bottom: 10px;">

                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Responsibilities</mat-label>
                                    <textarea matInput formControlName="Responsibilities" appearance="fill"></textarea>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>

                        <mat-divider style="padding-top:10px ;"></mat-divider>
                    </form>
                </div>
                <button mat-button mat-raised-button color="" style="margin-bottom: 10px;" (click)="addExperience()">Add
                    Experience</button>
            </div>
            <div >
                <h3 *ngIf="getControls('education').length" style="padding-top: 10px;"> Education</h3>

                <div formArrayName="education" *ngFor="let edu of getControls('education'); let i = index">
                    <form [formGroup]="edu">
                        <mat-grid-list cols="3" rowHeight="62px" style="width: 100%">
                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>degree</mat-label>
                                    <input matInput formControlName="degree">
                                </mat-form-field>

                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Institution</mat-label>
                                    <input matInput formControlName="institution">
                                </mat-form-field>
                                
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Year</mat-label>
                                    <input matInput formControlName="year">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </form>

                    <mat-divider style="padding-top:10px ;"></mat-divider>
                </div>
                <button mat-button mat-raised-button color="" style="margin-bottom: 10px;" (click)="addEducation()">Add
                    Education</button>
            </div>
        </form>
    </div>
    <div style="width: 40%">
        <button mat-raised-button color="primary" (click)="onSubmit()"
            style="float: right"> Generate
            Interview


        </button>

        <form [formGroup]="softwareEngineerCvForm" style="width:100%">
            <h3>Job Details</h3>
            <mat-grid-list cols="1" rowHeight="62px" style="width: 100%">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title" appearance="fill">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="1" rowHeight="62px" style="width: 100%">
                <mat-grid-tile>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" appearance="fill"></textarea>

                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </div>
</div>